*{
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar { 
    display: none;  /* For Chrome, Safari, and Opera */
}
body{
    color: #630B0B;
}
header{
    width: 1366px;
    height: 15vh;
    background-color: #E0A96D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size:x-large;
    position: sticky;
    z-index: 3;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    column-gap: 80px;
}
#home{
    width: auto;
    height: 78vh;
    background-color: #DDC3A5;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.container{
    position: relative;
}
.image{
    border-radius: 500px;
    object-fit: cover;
    object-position: top center;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 180px;
    background-color: #E0A96D;
}
.c1 {
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 180px;
}
.c2{
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 170px;
}
.dash{
    position: absolute;
    z-index: 2;
    top: 230px;
    left: 395px;
}
.spark{
    position: absolute;
    z-index: 2;
    top: 98px;
    left: 185px;
}
.spark2{
    position: absolute;
    z-index: 2;
    top: 140px;
    left: 155px;
}
.home_content{
    width: 550px;
    position: relative;
    left: 520px;
    top: 130px;
}
.name{
    text-align: justify;
}
button{
    background-color:#E0A96D;
    border: 2px solid #630B0B;
    position: relative;
    left: 210px;
    color: #630B0B;
    height: 25px;
    width: 150px;
    border-radius: 30px;
}
#about{
    width: 1366px;
    height: 80vh;
    background-image:url("about_img.png");
    background-repeat: no-repeat;
    width: auto;
    height: 84vh;
    background-size: cover;
}
.about{
    position: relative;
    top: 60px;
    left: 40px;
}
.para{
    width: 1000px;
    height: 80px;
    text-align: justify;
    position: relative;
    left: 40px;
}
#projects{
    width: 1366px;
    height: 150vh;
    position: relative;
    top: 60px;
    left: 40px;
}
.project{
    height: 300px;
    width: 950px;
    position: relative;
    left: 80px;
    display:flex;
}
.box{
    position: relative;
    left: 600px;
} 
.project1_content{
    position: relative;
    right: 250px;
}
.project_para{
    text-align: justify;
    width: 500px;
    height: auto;
}
.box1{
    position: relative;
    left: 55px;
} 
.project2_content{
    position: relative;
    left: 100px;
}
footer{
    height: 250px;
    width: 1366px;
    background-color: #e0a96d;
    display: flex;
    align-items: center;
    justify-content: center;
}