:root{
    --primary:#DC143C;
    --secondary:#FFFFFF;
    --light:#B76E79;
    --dark:#2F4F4F;

    --main-font: "Kavoon", serif;
    --sub-font:"Kalam", cursive;
    --para-font:"Poppins", sans-serif;
}
body::-webkit-scrollbar { 
    display: none;  /* For Chrome, Safari, and Opera */
}
body{
    margin: 0%;
    padding: 0%;
}
header{
    position: sticky ;
    top: 0 ;
    z-index: 1000;
}
nav{
    position: sticky;
    top: 0 ;
    z-index: 1000;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--main-font);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    box-shadow: -0px 0 20px var(--primary);
}
nav .logo{
    font-size: x-large;
    flex-grow: 1;
    padding: 8%;
}
nav .nav-links{
    padding: 11%;
    position: fixed;
    margin-right: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}
nav .nav-links svg{
    width: 18px;
    height: 18px;
}
nav .nav-links a{
    color: inherit;
    text-decoration: none;
}
nav .nav-links li{
    list-style: none;
}
nav .nav-links button:hover{
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: -0px 0 2px var(--dark);
}
.menu{
    display: none;
}
.nav-links button{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--main-font);
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    box-shadow: -0px 0 20px var(--primary);
    border-radius: 30px;
    border: 1px solid var(--primary);
}

@media only screen and (max-width:992px) {
    nav{
        font-size: medium;
    }
    
}
@media only screen and (max-width:840px) {
    body{
        margin: 0%;
        padding: 0%;
    }
    nav .logo{
            padding: 11%;
        }
    nav .nav-links{
            display: none;
        }
    .menu{
        display: flex;
    }
    
}

.menu-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e0093413;
    color: var(--primary);
    backdrop-filter: blur(10px);
    box-shadow: -8px 0 8px #5e5d5de5;
}
.menu-bar button{
    background-color: inherit;
    color: var(--primary);
    font-family: var(--main-font);
    width:auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border: none;
}
.menu{
    list-style: none;
    padding: 11%;
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu-bar li{
    list-style: none;
}
.menu-bar li a{
    text-decoration: none;
    color: inherit;
}
.menu-bar button:hover{
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: -10px 5px 10px var(--light);
}
.menu-bar .cross:hover{
    color: var(--dark);
}

/* ******************************************************************** */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 2%;
}
.photo{
    padding: 3%;
}
.photo img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: 5px 5px 5px var(--light);
    animation: moving 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
@keyframes moving{
    0%,100%{
        border-radius: 50% 40% 70% 60% / 40% 50% 60% 80%;
        box-shadow: 5px 5px 5px var(--light);
    }
    20%{
        border-radius: 60% 50% 70% 60% / 50% 60% 40% 30%;
        box-shadow: 5px 5px 5px var(--dark);
    }
    40%{
        border-radius: 70% 60% 90% 50% / 50% 60% 70% 40%;
        box-shadow: 5px 5px 5px var(--light);
    }
    60%{
        border-radius: 30% 70% 50% 40% / 60% 30% 40% 50%;
        box-shadow: 5px 5px 5px var(--primary);
    }
    80%{
        border-radius: 60% 40% 50% 60% / 60% 50% 70% 80%;
        box-shadow: 5px 5px 5px var(--light);
    }
    
}
.content{
    flex: 1;
    padding: 2%;
}
@media only screen and (max-width:840px){
    .container{
        flex-direction: column;
    }
}

/* *************************************************************** */

.hello{
    margin: 3%;
    font-family: var(--sub-font);
    font-size: xxx-large;
    color: var(--dark);
    font-weight: 800;

}
.auto-typed{
    color: var(--light);
    background-color: var(--secondary);
    line-height: -10;
    font-size: xx-large;
}
.intro{
    font-family: var(--para-font);
    font-size: medium;
    font-weight: 600;
    text-align: justify;
}
@media only screen and (max-width:840px){
    .hello{
        margin: 0;
        text-align: center;
    }
    .intro{
        text-align: justify;
    }
}
.content button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--main-font);
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary);
    box-shadow: -0px 0 10px var(--primary);
}
.content a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.content button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}

/* ****************************************************** */
#about{
    background-image:url("abouty.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
}
#about-title{
    font-family: var(--sub-font);
    color: var(--dark);
    text-align: center;
    margin-top: 1.5%;
    text-decoration:underline;
}

.past{
    border: 2px dashed var(--primary);
    box-shadow: -0px 0px 30px var(--primary);
    margin-left: 4.5%;
    margin-right: 4.5%;
    padding: 2%;
    text-align: justify;
    color: var(--dark);
    font-family: var(--sub-font);
    font-size: large;
    font-weight: bold;
}

.past b{
    color:var(--light);
}

@media only screen and (max-width:840px){
    .past{
        font-size: medium;
    }
}


/* ********************************************************* */

.project .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(345px,350px));
    column-gap: 60px;
    row-gap: 60px;
}
.project h1{
    font-family: var(--sub-font);
    color: var(--dark);
    text-align: center;
    margin-top: 1.5%;
    text-decoration:underline;
}
.project .container .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border:15px solid var(--dark);
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    position: relative;
    box-shadow: -0px 0 10px var(--dark);
}
.project .container .box1 .project1{
    position:absolute;
    top: 1%;
    left: 1.5%;
}
.project .container .box1 .project1 img{
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    position:absolute;
    width: 18em;
    height: 10em;
}
.project .container .box1 h3{
    position: absolute;
    top: 37%;
    left: 2%;
    font-family: var(--para-font);
    color: var(--dark);
}
.project .container .box1 .subbox{
    position: absolute;
    top: 57%;
    left: 2%;
    border: 1px solid var(--dark);
    width: 300px;
}
.project .container .box1 p{
    color: var(--dark);
    position: absolute;
    top: 56%;
    left: 2%;
}
.project .container .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border:15px solid var(--dark);
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    position: relative;
    box-shadow: -0px 0 10px var(--dark);
}
.project .container .box2 .project2{
    position:absolute;
    top: 1%;
    left: 1.5%;
}
.project .container .box2 .project2 img{
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    position:absolute;
    width: 18em;
    height: 10em;
}
.project .container .box2 h3{
    position: absolute;
    top: 37%;
    left: 2%;
    font-family: var(--para-font);
    color: var(--dark);
}
.project .container .box2 .subbox{
    position: absolute;
    top: 50%;
    left: 2%;
    border: 1px solid var(--dark);
    width: 300px;
}
.project .container .box2 p{
    color: var(--dark);
    position: absolute;
    top: 49%;
    left: 2%;
}
.project .container .box3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border:15px solid var(--dark);
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    position: relative;
    box-shadow: -0px 0 10px var(--dark);
}
.project .container .box3 .project3{
    position:absolute;
    top: 1%;
    left: 1.5%;
}
.project .container .box3 .project3 img{
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    position:absolute;
    width: 18em;
    height: 10em;
}
.project .container .box3 h3{
    position: absolute;
    top: 37%;
    left: 2%;
    font-family: var(--para-font);
    color: var(--dark);
}
.project .container .box3 .subbox{
    position: absolute;
    top: 57%;
    left: 2%;
    border: 1px solid var(--dark);
    width: 300px;
}
.project .container .box3 p{
    color: var(--dark);
    position: absolute;
    top: 56%;
    left: 2%;
}

/* ******************************************************* */
.contact{
    background-image: url('contact.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: right center;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#contact-title{
    font-family: var(--sub-font);
    color: var(--dark);
    text-align: center;
    margin-top: 1.5%;
    text-decoration:underline;
}
.boxy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
    border: 8px solid var(--light);
    position: relative;
    box-shadow: -0px 0 150px var(--primary);
}
.boxy svg:hover{
    color: var(--light);
}

@media only screen and (max-width:840px){
    .boxy {
        flex-direction: column;
    }
}



